@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}


/**************** header ****************/

.container-fluid {
    max-width: 80%;
}


/**************** hero ****************/

.navbar {
    display: flex;
    font-weight: 500;
}

#logo {
    color: #0A5ED7;
    font-weight: 700;
}

.navbar-brand a:hover,
.navbar-brand a:visited,
.navbar-brand a:active,
#navbarSupportedContent a:visited {
    color: #0A5ED7;
}

#navbarSupportedContent {
    margin-left: 39vw;
}

#navbarSupportedContent a {
    margin: 0 1.5rem;
    font-size: 1.1rem;
    color: #609ff8c7;
}

#navbarSupportedContent a:hover {
    color: #0A5ED7;
}

.active {
    color: #0A5ED7;
}


/**************** End of Hero ****************/


/**************** End of header ****************/


/**************** Main ****************/


/**************** MAIN SECTION ****************/

.main-section {
    height: 100vh;
    background-color: #000015;
    color: #fff;
    background-attachment: fixed;
}

.hero {
    position: relative;
    top: 25%;
    padding: 0;
}

.lead,
.display-6 {
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

.display-6 {
    font-size: 1.7rem;
}

.career {
    font-size: 4rem;
    font-weight: 700;
    color: #4C92F4;
    letter-spacing: 2px;
    word-spacing: .2rem;
    margin: 1rem 0;
}

.view-work {
    margin: 1rem 0;
    padding: .7rem 2.3rem;
    border-radius: 15px;
    background-color: #0B3EF0;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .7s ease;
}

.view-work:hover {
    color: white;
    background-color: #0b3df0a8;
    opacity: .8;
    transform: scale(1.1);
}

.media-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.media-links li,
.hero-link:active,
.hero-link:visited {
    margin: 1.5rem 2.7rem 0 0;
    font-size: 1.6rem;
    color: white;
}

.hero-link {
    color: #fff;
    transition: all .7s ease;
}

.hero-link:hover {
    color: #4C92F4;
    margin: 1.5rem 2.7rem 0 0;
}


/**************** END OF MAIN SECTION ****************/


/**************** Grouped Selectors ****************/

.second-section,
.third-section,
.forth-section {
    min-height: 70vh;
    max-height: 140vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.second-section-h,
.third-section-h,
.forth-section-h {
    margin: -5rem 0 5rem;
    font-weight: 700;
    color: #0B3EF0;
}

.card {
    margin: 1rem;
    border: none;
    min-width: 20rem;
    max-width: 22rem;
    max-height: 24rem;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 0 0 .3rem;
    transition: all .6s ease;
}


/**************** End of Grouped Selectors ****************/


/**************** SECOND SECTION ****************/

.second-section {
    background-color: #FFFFFF;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-group-1,
.card-group-2,
.card-group-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card:hover {
    transform: scale(1.1);
    opacity: .8;
}

.card-icons {
    font-size: 10vh;
    margin: 2rem auto;
    text-align: center;
    color: #0B3EF0;
}


/**************** END OF SECOND SECTION ****************/


/**************** Third SECTION ****************/

.third-section {
    background-color: #000015;
}

.card-img-top {
    padding: 0;
    margin: 0;
    width: 100%;
}

.card-title {
    padding: 1rem 0;
}


/**************** END OF Third SECTION ****************/


/**************** Forth SECTION ****************/

.forth-section {
    background-color: #FFFFFF;
}


/**************** END OF Forth SECTION ****************/


/**************** END OF MAIN ****************/


/****************  Footer****************/

#footer {
    max-height: 6vh;
    background-color: #000015;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
}

.footer-copy {
    font-size: 1rem;
}

.media-links-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-links-footer li a {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 1rem;
}


/**************** END OF Footer ****************/


/**************** Media Querries ****************/

@media (min-width:993px) and (max-width:1600) {}

@media (max-width:992px) {
    body {
        font-size: 12px;
    }
    .container-fluid {
        max-width: 100%;
    }
    .hero {
        position: relative;
        left: 15%;
    }
    #navbarSupportedContent {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    .card-group-1,
    .card-group-2,
    .card-group-3 {
        max-width: 80vw;
        max-height: 150vh;
        width: 20rem;
        margin: 0;
    }
    .card {
        width: 20rem;
        padding: 0;
        height: auto;
        margin: 1rem 0;
    }
    .main-section,
    .second-section,
    .third-section,
    .forth-section {
        overflow: hidden;
    }
    .second-section-h,
    .third-section-h,
    .forth-section-h {
        font-size: 2rem;
        margin: 3rem;
        font-weight: 700;
        color: #0B3EF0;
    }
}

@media (max-width:768px) {
    body {
        font-size: 12px;
    }
    .container-fluid {
        max-width: 100%;
    }
    .hero {
        position: relative;
        left: 15%;
    }
    #navbarSupportedContent {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    .card-group-1,
    .card-group-2,
    .card-group-3 {
        max-width: 80vw;
        max-height: 150vh;
        width: 20rem;
        margin: 0;
    }
    .card {
        width: 20rem;
        padding: 0;
        height: auto;
        margin: 1rem 0;
    }
    .main-section,
    .second-section,
    .third-section,
    .forth-section {
        overflow: hidden;
    }
    .second-section-h,
    .third-section-h,
    .forth-section-h {
        font-size: 2rem;
        margin: 3rem;
        font-weight: 700;
        color: #0B3EF0;
    }
}

@media (max-width:575px) {
    body {
        font-size: 12px;
    }
    .container-fluid {
        max-width: 100%;
    }
    .hero {
        position: relative;
        left: 15%;
    }
    #navbarSupportedContent {
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    .card-group-1,
    .card-group-2,
    .card-group-3 {
        max-width: 80vw;
        max-height: 150vh;
        width: 20rem;
        margin: 0;
    }
    .card {
        width: 20rem;
        padding: 0;
        height: auto;
        margin: 1rem 0;
    }
    .main-section,
    .second-section,
    .third-section,
    .forth-section {
        overflow: hidden;
    }
    .second-section-h,
    .third-section-h,
    .forth-section-h {
        font-size: 2rem;
        margin: 3rem;
        font-weight: 700;
        color: #0B3EF0;
    }
}