@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}


/**************** header ****************/

.container-fluid {
    max-width: 80%;
}


/**************** hero ****************/

.navbar {
    display: flex;
    font-weight: 500;
}

#logo {
    color: #0A5ED7;
    font-weight: 700;
}

.navbar-brand a:hover,
.navbar-brand a:visited,
.navbar-brand a:active,
#navbarSupportedContent a:active,
#navbarSupportedContent a:visited {
    color: #0A5ED7;
}

#navbarSupportedContent {
    margin-left: 39vw;
}

#navbarSupportedContent a:link {
    margin: 0 0 0 2.5rem;
    font-size: 1.1rem;
}

#navbarSupportedContent a:hover {
    color: #8d44adc4;
}


/**************** End of Hero ****************/


/**************** End of header ****************/


/**************** Main ****************/


/**************** MAIN SECTION ****************/

.main-section {
    height: 100vh;
    z-index: 0;
    background-color: #000015;
    color: #fff;
    background-attachment: fixed;
}

.hero {
    position: relative;
    top: 25%;
    padding: 0;
}

.lead,
.display-6 {
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

.display-6 {
    font-size: 1.7rem;
}

.career {
    font-size: 4rem;
    font-weight: 700;
    color: #4C92F4;
    letter-spacing: 2px;
    word-spacing: .2rem;
    margin: 1rem 0;
}

.view-work {
    margin: 1rem 0;
    padding: .7rem 2.3rem;
    border-radius: 15px;
    background-color: #0B3EF0;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .7s ease;
}

.view-work:hover {
    color: white;
    background-color: #0b3df0a8;
    transform: scale(1.1);
}

.media-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.media-links li,
.hero-link:active,
.hero-link:visited {
    margin: 1.5rem 2.7rem 0 0;
    font-size: 1.6rem;
    color: white;
}

.hero-link {
    color: #fff;
    transition: all .7s ease;
}

.hero-link:hover {
    color: #4C92F4;
    margin: 1.5rem 2.7rem 0 0;
}


/**************** END OF MAIN SECTION ****************/


/**************** SECOND SECTION ****************/

.second-section {
    height: 90vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second-section-h {
    margin: 5rem auto;
    font-weight: 700;
    color: #0B3EF0;
}

.card {
    margin: 0 2rem 2rem 2rem;
    border: none;
    max-width: 20rem;
    max-height: 28rem;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 1rem;
    transition: all .7s ease;
}

.card:hover {
    transform: scale(1.2);
    z-index: 4;
}

.card-icons {
    font-size: 10vh;
    margin: 2rem auto;
    text-align: center;
    color: #0B3EF0;
}


/**************** END OF SECOND SECTION ****************/


/**************** END OF MAIN ****************/